
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/index/dashboard">
    <ion-nav-view name="index-dashboard"></ion-nav-view>
  </ion-tab>

  <!-- Notify Tab -->
  <ion-tab title="Notify" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/index/notify">
    <ion-nav-view name="index-notify"></ion-nav-view>
  </ion-tab>
  
  
  <ion-tab title="Logout" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ng-click="logout()">
    
  </ion-tab>


</ion-tabs>